.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

th {
  font-size: 40px;
}

td {
  font-size: 35px;
  border-style: solid;
  border-color: rgb(117, 117, 117);
}

th {
  background-color: rgb(163, 24, 24);
}

tr:nth-child(odd) {
  background-color: rgba(0, 255, 255, 0.669);
}

tr:nth-child(even) {
  background-color: rgba(151, 169, 250, 0.668);
}

.favorite-tide {
  height: 45px;
  width: 45px;
  background-color: transparent;
  background-image: url('../../images/favorited.png');
  border: none;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

