.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
}

th {
  font-size: 40px;
}

td {
  font-size: 35px;
  border-style: solid;
  border-color: rgb(117, 117, 117);
}

th {
  background-color: rgb(163, 24, 24);
}

tr:nth-child(odd) {
  background-color: rgba(0, 255, 255, 0.669);
}

tr:nth-child(even) {
  background-color: rgba(151, 169, 250, 0.668);
}

.tide-save {
  height: 45px;
  width: 45px;
  background-color: transparent;
  background-image: url('../../images/favorited.png');
  border: none;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tide-save:hover {
  filter: invert(100);
}

.saved-confirmation {
  width: auto;
  padding: 3px 10px;
  background-color: goldenrod;
  position: -webkit-sticky;
        position: sticky;
        top: 0;
        font-size: large;
}

.saved-message-holder {
  height: 5vh;
}

.save-display {
  animation:display-message 5s ease-in-out;
}

@keyframes display-message {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.center {
  align-items: center;
  align-content: center;
}

.hidden {
  display: none;
}

