body {
  background-image: url('./images/sunsetdiveflag.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.App {
  text-align: center;
  font-family: 'Prompt', sans-serif;
  width: 100vw;
  height: 100%;
}

h1 {
  font-size: 60px;
  margin: 0px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.search-button {
  background-image: url('./images/research.png');
}

.saved-button {
  background-image: url('./images/favorited.png');
}

.search-button,
.saved-button {
  height: 50px;
  width: 50px;
  background-size: contain;
  background-position: center center;
  background-color: transparent;
  border-style: none;
}

a {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

h1,
.pbutton {
  color: black;
  margin-right: 10px;
}

.navbutton:hover {
  cursor: pointer;
  filter: invert(100);
}

@media (max-width: 650px) {
  .pbutton {
    display: none;
  }
  h1 {
    font-size: 35px;
  }
}

.error {
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: white;
}
